@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

html {
	position: relative;
}
body {
	font-family: sans-serif;
        font-family: Roboto;
        background-color: white;
	

	margin: 0 0 417px;
}
@media (max-width: 580px){
	body{
		margin: 0 0 617px;
	}
        
        nav ul li {
            display: block;
        }
        
        nav ul li a {
            padding-right: 0px;
            padding-left: 0px;
        }
}

#content{
	margin: auto;
    width: 70%;
    padding: 1%;

    background-color: white;
}
@media (max-width:1400px){
	#content{
	    width: 80%;
	}
}
@media (max-width:1200px){
	#content{
	    width: 90%;
	}
}

.inner{
	display: inline-block;
	text-align: left;
}

/*  HEADER */

#header{
	height: 8em;
}


#Logo{
	float: left;
	width: 30%;
	text-align: left;
}
.logoBilde{

	max-height: 5.5em;

}

#header-nav{
	height: auto;
	float: left;
	width: 70%;
	text-align: right;
	font-size: 20px;

}
#header-nav .inner{
	margin-top: 50px;
}
ul{
	padding: 0;
	margin: 0;


	list-style-type: none;
	text-align:center;
}
li{
	width: 138px;
	height: 40px;
        display: inline;
}
a{

	text-align: center;
	vertical-align: middle;
	line-height: 40px;     
        padding-right: 20px;
        padding-left: 20px;
        text-decoration: none;
	color: black;
	//padding-left: 0px;
	float: left;

}

a:hover{
        background-color: #000;
        color: #fff;
}
.sLink{
	padding-left: 15px;
}

@media (max-width:670px){
	#Logo{
		width: 100%;
		text-align: center;
	}
	#header-nav{
		width: 100%;
		text-align: center;
		margin-bottom: 40px;
	}
	#header-nav .inner{
		margin-top: 10px;
	}
}
@media (max-width:475px){

	#header-nav{
		margin-bottom: 50px;
	}
	a{
		float: none;
	}
	.sLink{
		padding-left: 0;
	}
}



/*  MIDDLE */

#middle{

	min-height: 100%;
	margin-bottom: -11.5em; 
}
#middle:after{
	content: "";	 	
	display: block;
}
#overskrift{
	text-align: center;
	max-width: 100%;
}

@media (max-width: 333px){
	#overskrift h1{
		font-size: 20px;
	}	
}
@media (max-width: 215px){
	#overskrift h1{
		font-size: 15px;
	}	
}

.seksjon{
	height: auto;
	margin-bottom: 30px;
}
.seksjonsTekst{
	text-align: center;
	display: inline-block;
	float: left;
	width: 60%;

}
.seksjonsTekst .inner{
	max-width: 80%;
}

@media (max-width:996px){
	.seksjonsTekst .inner{
	max-width: 100%;
}
}

.seksjonsBilde{
	margin-top: 45px;
	text-align: center;
	display: inline-block;
	float: left;
	width: 40%;
}
@media (max-width:1500px){
	.seksjonsTekst{
		width: 70%;
	}
	.seksjonsBilde{
		width: 30%;
	}
}
@media (max-width:996px){
	.seksjonsTekst{
		width: 60%;
	}
	.seksjonsBilde{
		width: 40%;
		float: inherit;
	}
}
@media (max-width:700px){
	.seksjonsTekst{
		width: 100%;
	}
	.seksjonsBilde{
		width: 100%;
		float: inherit;
	}
}

.kvittering{
	width: 250px;
}
@media (max-width:996px){
	.kvittering{
		width: 200px;
		display: block;
    margin-left: auto;
    margin-right: auto
	}
}
@media (max-width:700px){
	.kvittering{
		width: 250px;
		max-width: 80%;
	}
}

.stopFloat{
 clear: left;
}



/*  FOOTER */

#footer {
	width: 100%;
	background-color: #35393E;
	color: white;

    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 auto;

    padding-bottom: 30px;

    height: auto;
    overflow:hidden;
}
#footer-content{

	margin: auto;
    width: 70%;
    padding: 1%;
}
@media (max-width: 815px){
	#footer-content{
	    width: 100%;
	}
}

.footer-box{


	float: left;
	text-align: center;

	font-size: 17.5px;

}
.flef{
	width: 20%;
}
.fmid{
	width: 60%;
	
}


#footer-text{
	display: inline-block;
	text-align: left;
}


.social{
	width: 20%;
	margin-top: 10px;
}

@media (max-width: 670px){
	.flef{

		width: 25%;
	}

	.fmid{
		width: 50%;
		
	}
	.social{
		width: 25%;
	}
}
@media (max-width: 580px){
	.flef{
		width: 100%;

	}

	.fmid{
		width: 100%;
		margin-bottom: 20px;

	}
	.social{
		width: 100%;

	}
}



/* SOCIAL MEDIA*/

.fa {
  padding: 15px;
  font-size: 25px;
  height: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
    opacity: 0.7;
}




.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}