* {
	font-family: Calibri;
}

body {
	background: "bakgrunn.jpg";
}

#content{
	margin: auto;
    width: 70%;
    padding: 1%;
    background-color:
}


/*  HEADER */


/*  MIDDLE */

#middle {
	height: 900px;
	background-color:rgba(0, 0, 0, 0.5);
}

#middle p {
	font-size: 100px;
}

#middle img {
	
	
}

.tekst{

	width:60%;

}
.bilde{


	float: right;
	width: 35%;
}


/*  FOOTER */

#footer {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    background-color: blue;'
}