#content{
	margin: auto;
    width: 70%;
    padding: 1%;
    background-color: blue;
}

body {
	background-color: red;
}



#footer {
    position: absolute;
    bottom: 0;
    width: 644px;
    height: 20px;
    margin: 0 auto;
}